*{
    margin: 0%; 
    padding: 0%;
    @import: url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
}

#logo{
    padding: 15px 0px 15px 0px;
}

header{  
    background-color:#2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
       }

ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 30px;
     
}

ul li a {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    bottom: 45px;
    right: 130px;
   }

.titulo{
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 69px;
text-transform: capitalize;
color: #FF4081;
margin-top: 5%;
margin-left: 6%;
}

.txt-titulo{
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #555555;
margin-bottom: 5%;
margin-left: 6%;
}

.primeira{
    display: flex;
    flex-direction: column;
    margin-left: 45%;
    position: relative;
    margin-top: -15%;
    margin-bottom: 8%;
}

.segunda{
    display: flex;
    flex-direction: column;
    margin-left: 45%;
    position: relative;
    margin-top: -15%;
    margin-bottom: 8%;
}

.terceira{
    display: flex;
    flex-direction: column;
    margin-left: 45%;
    position: relative;
    margin-top: -15%;
    margin-bottom: 8%;
}

#img-xadrez{
    width: 392px;
    height: 381px;
    display: flex;
    margin-left: 20%;
}

#img-arvore{
    width: 380px;
    height: 385px;
    margin-left: 20%;
}

#img-trofeu{
    width: 380px;
    height: 385px;
    margin-left: 20%;
    }

hr{
width: 1244px;
height: 5px solid;
color: #C4C4C4;
margin-left: 15%;
margin-bottom: 2%;
}

.subtitulo{
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #FF4081;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    
}

.txt-subtitulo{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000000;      
     
   
}


.txt-botoes{
    background: #2E948A;
    border-radius: 62px;
    width: 233px;
    height: 51px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 3%;
    border: none;
    cursor: pointer;
}

footer{
    background-color:#2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    width: 100%;
    display: flex;
    
    }

#logo-footer{
    width: 280px;
    height: 90px;
    margin-top: 2%;
    margin-left: 3%;
    margin-bottom: 2%;
}

footer li{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    display: flex;
    list-style: none;      
    margin-top: 2%;
    margin-left: 20%;
    
        }

.botoes-footer{
    box-sizing: border-box;
    background: #2E948A;
    width: 289px;
    height: 51px;
    border: 2px solid #FFFFFF;
    border-radius: 62px;  
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF; 
    margin-left: 90%;  
    margin-top: 2%;
    margin-bottom: 3%;
       
}

#botao1{
    margin-bottom: 1%;
    align-items: flex-end; 
    
}

@media (max-width:850px) {

    *{
        max-width: 850px;
    }

    header{
        max width: 850px;        
    }
 
    main{
        max-width: 850px;
    }

    hr{
        display: none;           
    }

    
 
    .titulo , .txt-titulo{
        max-width: 850px;
    }

    .primeira , .segunda , .terceira{
        max-width: 850px;
        display: flex;
        flex-direction: column;
        margin-left: 15%;
        margin-top: 10%;
    }

    footer{
        display: flex;
        flex-direction: column;
        max-width: 850px;
        justify-content: center;
        align-items: center;
    }
    
    footer li{
        margin-left: 5%;
    }
    
    .botoes-footer{
     margin-left: 27%;
    }
    
    #botao1{
        text-align:center;
    }
    
    }

    @media (max-width:450px) {

        *{
            max-width: 450px;
        }
    
        header{
            max width: 450px;       
        }
        
        #logo-header{
           width: 25%;
        }

        nav ul li a{                    
            font-size: 10px;
            top: 5%;         
        }










                  
        #logo-footer{
            width: 45%;
            height: 20%;
        }

      
        .botoes-footer{
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            width: 100px;
            height: 25px;        
            font-size: 10px;
          
        }

        #botao1{
            display: flex;
            align-items: center;
            
        }
