*{
    margin: 0%; 
    padding: 0%;
    @import: url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
}

#logo{
    padding: 15px 0px 15px 0px;
}

header{  
    background-color:#2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
       }

ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 30px;
     
}

ul li a {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    bottom: 45px;
    right: 130px;
   }

.container1{
    display: flex;
}

#img-blog{
    display: flex;
    margin: left 2px;
    margin-top: 3%;
}

.primeira{
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-top: 4%;
}

.subtitulo{
    width: 512px;
    height: 108px;
    left: 239px;
    top: 239px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 54px;
    color: #009688;  
}

.txt-subtitulo{
width: 461px;
height: 110px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 23px;
color: #000000;
}

.container2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 6%;
    margin-bottom: 5%;
}

#retangulo{
width: 518px;
height: 259px;
}

.post1-1{ 
 margin-bottom: 10%;
 display: flex;
 flex-direction: column;
}

.post1-2{    
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
}

.tit-post{
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 34px;
display: flex;
align-items: center;
color: #FF4081;
}

.txt-post{
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 20px;
display: flex;
align-items: center;
color: #000000;
margin-top: 2%;
}

footer{
    background-color:#2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    width: 100%;
    display: flex;
    
    }

#logo-footer{
    width: 280px;
    height: 90px;
    margin-top: 2%;
    margin-left: 3%;
    margin-bottom: 2%;
}

footer li{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    display: flex;
    list-style: none;      
    margin-top: 2%;
    margin-left: 20%;
    
        }

.botoes-footer{
    box-sizing: border-box;
    background: #2E948A;
    width: 289px;
    height: 51px;
    border: 2px solid #FFFFFF;
    border-radius: 62px;  
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF; 
    margin-left: 90%;  
    margin-top: 2%;
    margin-bottom: 3%;     
}

#botao1{
    margin-bottom: 1%;
    align-items: flex-end; 
}

@media (max-width:850px) {

    *{
        max-width: 850px;
    }

    header{
        max-width: 850px;       
    }

   main{
    max-width: 850px;
    
   }

   .container1{
    max-width: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .container2{
    max-width: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

    footer{
        display: flex;
        flex-direction: column;
        max-width: 850px;
        justify-content: center;
        align-items: center;
    }
    
    footer li{
        margin-left: 5%;
    }
    
    .botoes-footer{
     margin-left: 27%;
    }
    
    #botao1{
        text-align:center;
    }
    
    }

    @media (max-width:450px) {

        *{
            max-width: 450px;
        }
    
        header{
            max-width: 450px;       
        }
        
        #logo-header{
           width: 25%;
        }

        nav ul li a{                    
            font-size: 10px;
            top: 5%;         
        }

       main{
        max-width: 450px;
        display: flex;
        flex-direction: column;
       }

       .subtitulo{
        font-size: 40px;
       }

       .container2{
        max-width: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
       }

       #img-blog{
        width: 250px;
        height: 150px;
       }

    
       #retangulo{
        width: 350px;
        height: 200px;
       }





                  
        #logo-footer{
            width: 45%;
            height: 20%;
        }

      
        .botoes-footer{
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            width: 100px;
            height: 25px;        
            font-size: 10px;
          
        }

        #botao1{
            display: flex;
            align-items: center;           
        }

    }       